!!! 5
html(lang="en")
	head
		meta(charset="utf-8")
		title Cryptonite
		link(rel="stylesheet", href="/css/bootstrap.min.css")
		link(rel="stylesheet", href="/css/style.css")
	body
		div.navbar.navbar-fixed-top.navbar-inverse
			div.navbar-inner
				div.container-fluid
					a.brand(href="/", title="Secure and convenient password management") Cryptonite
		div.container-fluid
			div.row-fluid
				block body
