<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav">
			<li><a href="/new">Add Password</a></li>
		</ul>
		<form class="navbar-search pull-left">
			<input type="text" class="search-query" placeholder="Search" ng-model="search">
		</form>
	</div>
</div>

<table class="table table-bordered table-hover table-striped">
	<thead>
	<tr>
		<th>Name</th>
		<th>Creator</th>
		<th>Password</th>
		<th>Description</th>
		<th><a href="/new"><i class="icon-plus-sign"></i>Add</a></th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="password in passwords | filter:search">
		<td>{{password.name}}</td>
		<td>{{password.creator}}</td>
		<td>{{password.password}}</td>
		<td>{{password.description}}</td>
		<td><a href="/edit/{{password.id}}"><i class="icon-edit"></i>Edit</a><a
				href="" ng-click="remove()"><i
				class="icon-remove"></i>Delete</a></td>
	</tr>
	</tbody>
</table>
